@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body{
  overflow:visible !important;
}

a{
  color: black !important;
}
.mycard h1{
  font-family: 'Grand Hotel', cursive;
  text-align: center;
  font-size: 4rem;
}
nav{
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: none;
}
nav .nav-wrapper{
  max-width: 975px;
  margin: 0 auto !important;
}
nav .brand-logo{
  font-family: 'Grand Hotel', cursive;
  font-size: 3rem;
}
nav .brand-logo.left{
  left:2rem;
}
.mycard{
  margin-top: 5%;
}
.input-outlined{
  border: 1px solid #b5b2b2 !important;
  width: calc(100% - 4rem) !important;
  margin: 20px auto 5px !important;
  float: none;
  display: block;
  border-radius: 4px !important;
  padding: 8px !important;
  transition: none !important;
  height: 20px !important;
  background-color: #FAFAFA !important;
}
.input-outlined::placeholder{
  text-transform: none;
}
.input-outlined:focus, textarea:focus{
  outline: none !important;
  border: 1px solid rgb(114, 109, 109) !important;
  box-shadow: none !important;
  transition: none !important;
}
.textTransform-lowercase{
  text-transform: lowercase;
}
.input-validation-red{
  color: #d93025;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  word-break: break-word;
  max-width: 355px;
}
.text-center{
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 14px;
}

textarea{
  border-radius: 5px;
}
.auth-card button{
  text-transform: capitalize;
  border-radius: 5px;
}
.input-field .btn span{
  font-weight: 600;
  border-radius: 10px;
  height: 20px;
}
.input-field button{
  width: calc(100% - 2.5rem) !important;
}
.createPost-card button{
  width: calc(100% - 2.5rem) !important;
}


.blueButton{
  background-color: #0095f6 !important;
  text-transform: none;
  font-weight: 600;
  border-radius: 4px;
  line-height: 0;
  margin-bottom: 10px;
  box-shadow: none;
  margin-top: 15px;
}
.profileItem div .blueButton{
  margin-top: 0px !important;
}
.fs14px{
  font-size: 14px !important;
}

.profile-info p, .profile-info-mobile p{
  white-space: pre-wrap;
  margin: 5px 0px;
}
.profile-info .heading-text-small, .profile-info-mobile .heading-text-small{
  margin-bottom: 10px;
}

.mb-inherit{
  margin-bottom: inherit;
}
.blueLink.dark a{
  color: #00376B !important;
  font-weight: 600;
}
.blueLink.light, .blueLink.light a{
  color: #0095f6 !important;
  font-weight: 600;
}
.px16{
  font-size: 16px !important;
}
.mt100px{
  margin-top: 100px !important;
}
.mt-20px{
  margin-top: -20px;
}
.mt20px{
  margin-top: 20px !important;
}


.warning-icon{
  color: #ea9f14f0;
  margin-top: 20px;
}
.blueButton:hover{
  box-shadow: none;
  background-color: #0074cc !important;
}

.blueButton:disabled{
  background-color: rgba(0,149,246,.3) !important;
  opacity: 1;
  color:white !important;
}

.followButton{
  height: 30px;
  width: 91px;
}
.whiteButton{
  text-transform: none;
  font-weight: 600;
  border-radius: 4px;
  line-height: 0;
  height: 30px;
  width: 91px;
  background-color: transparent !important;
  color: black;
  border:1px solid grey;
  box-shadow: none;
}
.whiteButton:hover{
  box-shadow: none;
}
.wid-fit-content{
  width: fit-content !important;
}
.profileName .whiteButton{
  margin-top: 15px;
}

.icon-inside-input{
  position: absolute;
  right: 35px;
  bottom: 5px;
  visibility: hidden;
  color: #1a9a5f;
}
.input-contain-icon{
  padding-right: 42px !important;
  width: calc(100% - 6.5rem) !important;
}
.input-container{
  position: relative;
}

.search-input{
  text-transform: none;
  font-weight: 400;
  border-radius: 4px !important;
  line-height: 0;
  height: 15px !important;
  max-width: 150px;
  margin: 0 auto;
  color: black; 
  box-sizing: border-box;
  border:1px solid grey !important;
  box-shadow: none;
  padding: 5px 10px !important;
}
.search-input:focus{
  border-bottom: none !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
}

.progress{
  margin-top: 1px;
  background-color: #0095f6;
}
.indeterminate{
  background-color: white !important;
}

li{
  vertical-align: baseline;
}
.navbar-icon{
  font-size: 27px !important;
}
.auth-card{
  padding:20px;
  text-align: center;
  max-width: 380px;
  margin: 10px auto;
}
.auth-card p{
  display: inline;
  padding-right: 10px;
}
.heading-text{
  font-size: 1.5rem;
  font-weight: 600;
}
.heading-text-small{
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px !important;
}
.changeProfilePhoto-header{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto;
}
.link{
  color:aqua;
}
.profileImage{
  width: 150px;
  height:150px;
  border-radius: 80px;
}
.post-postedBy-img{
  height: 32px;
  width: 32px;
  border-radius: 50% !important;
}
.post-postedBy-name{
  /* margin:0.8rem; */
  margin: 0 0 0 0.8rem;
  /* font-size: 14px !important; */
}

.names-container .profileItem-username{
  margin: 0 0 0 0.8rem;
  font-size: 15px;
}

.post-postedBy-name:hover{
  text-decoration: underline;
}
.names-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}
.profileItem-fullname{
  color: rgb(142, 142, 142);
  margin-left: 0.8rem;
  font-size: 14px !important;
}
.hide-file-path{
  visibility:hidden;
  max-height: 0;
}
.file-field{
  text-align: center;
}
.unfollowImage{
  width: 100px;
  height: 100px;
  border-radius: 80px;
  margin-top: 30px;
}
.profileHeader{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom:1px solid grey;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.profileName{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:80%;
  align-items: center;
}
.profileName h2{
  font-size: 28px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profileData{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.profileData-mobile{
  display: none;
}
.profileData-mobile div{
  display: flex;
  justify-content: space-around;
}
.profileData-mobile div h6 span{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8E8E8E;
}
.profileData-mobile div h6 span span{
  font-weight: 500;
  color: #262626;
}

.profileHeader-left{
  margin-top: 30px;
}
.profileGallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width:200px;
  height:200px;
  margin-bottom: 10px;
}
.profilePage{
  max-width: 70%;
  margin:0px auto;
}
.home{
  margin: 40px auto;
}

.home-card{
  max-width: 500px;
  height:max-content;
  margin: 20px auto; 
  padding: 20px;
}
.create-caption{
  margin-top: 20px;
}

.post-image{
  border-radius: 10px !important;
  margin-top: 20px;
}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-postedBy{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}
.postOptions{
  float:right;
  font-size: 23px;
}
.pointer{
  cursor: pointer;
}

#toast-container{
  top:50px !important;
  right:20px !important;
}

p{
  font-size: 14px;
}

h6,h6 span{
  font-weight: 500;
}
.fw400{
  font-weight: 400;
}
.fw600{
  font-weight: 600 !important;
}
.fw650{
  font-weight: 650 !important;
}

.comment-form{
  position:relative;
}
.comment-form > i{
  position:absolute;
  right:5px;
  bottom:15px;
  font-size: 21px;
}

.comment-form > input{
  display: inline-block;
  padding-right: 30px !important;
  width:90% !important;
}

.userCommented{
  font-weight: 500;
}

.comment{
  position: relative;
  word-break: break-word;
}
.comment-options{
  display: none;
  position: absolute;
  right: 10px;
  font-size: 21px;
}
.comment:hover .comment-options{
  display:inline-block ;
}


/* Modal styles */
.modal .modal-footer{
  display: none;
}

.modal{
  width: 30%;
  max-width: 300px;
  min-width: 260px;
  border-radius: 12px;
  top:40% !important;
}
.true{
  top:30% !important;
}
.modal .modal-content{
  padding: 0;
  text-align: center;
}
.modal h4{
  display: none;
}

.true h4{
  display: block;
  text-align: center;
}
.modal .modal-button{
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 4px 8px;
  min-height: 48px;
  border-top: 1px solid #dbdbdb;
  text-align: center;

}
.createPost-name{
  text-align:left;
}
.redButton{
  color: #ed4956;
}

.followModal{
  max-height: 400px;
  min-height: 200px;
  max-width: 380px;
  width: 40% !important;
  min-width: 280px !important;
}
.followModal .modal-content{
  margin-top: 10px;
}
.profileItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px;
}
.profileItem-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileHeader-right{
  flex-basis:300px;
}
.profile-info{
  width: 100%;
}
.profile-info-mobile{
  display: none;
}
.profileName i{
  margin-top: 15px;
}
.fullscreen-line{
  margin-left: -20px;
  margin-right: -20px;
  color: #dbdbdb;
}
.page-footer{
  display: none;
  position: fixed;
  height: 50px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0px;
}

.editProfile-container{
  display: flex;
  width:90%;
  border:1px solid #dbdbdb;
  margin: 60px auto 50px;
  padding: 20px 0 !important;
  border-radius: 4px;
  max-width: 600px;
}
.editProfile-container div:first-child{
  margin-left: auto;
  margin-right: auto;
}
.editProfile-topField{
  display: flex;
  margin-top: 20px;

}
.editProfile-topField h1{
  font-size: 20px;
}
.editProfile-topField img{
  margin: 2px 0px 0px 20px;
}
.editProfile-field{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
}
.editProfile-field h1, .editProfile-field p{
  margin:0px
} 
.editProfile-field label{
  font-size: 16px;
  color: #262626;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}
.editProfile-field input, .editProfile-field select{
  margin: 0px auto 5px 0px !important;
  /* width: 80% !important; */
  width: 90% !important;
  max-width: 355px;
}
.editProfile-field .input-container .input-outlined{
  width: 80% !important;
}
.editProfile-field .input-container i{
  bottom: 10px;
}
.editProfile-field .input-validation-red{
  margin-left:0 !important;
}

.editProfile-field textarea{
  margin: 0px auto 5px 0px !important;
  height: 59px !important;
  width: 100% !important;
  max-width: 338px !important;
}
.editProfile-field select{
  width: 100% !important;
  max-width: 338px;
  height: 40px !important;
}
.editProfile-field .editProfile-info{
  font-size: 12px;
  color: #8E8E8E;
  word-wrap: break-word;
  width: 95% !important;
  max-width: 355px;
}
.editProfile-submit{
  margin-left: 20px;
}



@media screen and (max-width: 735px){
  .profileHeader{
    margin-bottom: 5px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    width:70%;
    flex-wrap:nowrap;
  }
  .profileHeader-left{
    margin-right: 20px;
  }
  .profileImage{
    width: 77px;
    height: 77px;
  }
  .profileItem div .whiteButton{
    width: 80px;
    padding: 1px 6px;
  }
  .profileItem div .blueButton{
    width: 80px;
  }
  .profilePage{
    margin: 0px 20px;
    max-width: 100%;
  }
  .profileName{
    /* width:100%; */
    width: 160px;
  }
  .profileName h2{
    font-size: 23px;
  }
  .profileData{
    display: none;
  }
  .profileData-mobile{
    display: block;
  }
  .profileName h4{
    font-size: 1.75rem;
  }
  .profileName .whiteButton{
    order:2;
  }
  .profileName .followButton{
    order:2;
  }
  .heading-text-small{
    font-size: 14.5px;

  }
  .profile-info{
    display: none;
  }
  .profile-info-mobile{
    display: block;
    /* border-bottom: 1px solid grey; */
    max-width: 400px;
    /* padding-left: 16px; */
  }
  .profileName .blueButton{
    margin-top: 0px;
  }
  .profileName .whiteButton{
    margin-top: 0px;
  }
  .search{
    height: 0px;
  }
  .page-footer{
    /* display: block; */
  }
  .editProfile-container{
    /* width:90%;
    border:1px solid #dbdbdb; */
    margin:0;
    /* border-radius: 4px; */
    width: 100%;
  }
  .editProfile-field textarea, .editProfile-field select{
    width: 97% !important;
  }
}
